@use "../abstracts/settings" as settings;
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-content-space-between {
    justify-content: space-between;
}

@each $spesing, $value in settings.$spacings {
    .gap-#{$spesing} {
        gap: #{$value};

        @include media(gap, $value);
    }
    .gap-row-#{$spesing} {
        row-gap: #{$value};

        @include media(row-gap, $value);
    }
    .gap-column-#{$spesing} {
        column-gap: #{$value};
        
        @include media(column-gap, $value);
    }
}
