$size: (
    "md": 1rem,
    "lg": 1.5rem,
);

@each $key, $value in $size {
    .padding-block-#{$key} {
        padding-block: $value;
    }
    .padding-inline-#{$key} {
        padding-inline: $value;
    }
    .padding-#{$key} {
        padding: $value;
    }
    .margin-block-#{$key} {
        margin-block: $value;
    }
    .margin-inline-#{$key} {
        margin-inline: $value;
    }
    .margin-#{$key} {
        margin: $value;
    }
}