@use '../abstracts/settings' as settings;

:root {
    @each $color, $value in settings.$colors {
        --#{$color}: #{$value};
    }
}

@each $color, $value in settings.$colors {
    .bg-#{$color} {
        background-color: #{$value};
    }
    .text-#{$color} {
        color: #{$value};
    }
    .border-#{$color} {
        border-color: #{$value};
    }
}
